.next-arrow,
.prev-arrow {
  font-size: 20px;
    color: transparent;
}

.front {
    background-color: #D8CD94; 
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back {
    background-color: #D8CD94; 
    height: 500px;
}

.recipe-container {
    display: flex; 
    flex-direction: column;
    align-items: center
}

.slick-slider {
    width: 70%;
    height: 500px;
    text-align: center; 
}

/* .slick-arrow.slick-prev, 
.slick-arrow.slick-next {
    background-color: blue;
} */

h2 {
    color: #198D55;
    font-size: 3.5em;
}

img {
    height: 400px;
    width: 400px;
}

.favorite {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 75px;
    width: 75px;
}

.carousel {
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 100px;
    margin-bottom: 0;
    align-items: center;
}

.previous {
    position: absolute;
    left: 25px;
    cursor: pointer;
    &:hover {
        transform: scale(1.1)
    }
    color: #198D55;
}
