.next-arrow,
.prev-arrow {
  font-size: 20px;
    color: transparent;
}

.recipeGrid {
    height: 12vh;
}

.error {
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed; 
    overflow: auto;
}

.front {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scrollbar-color: #198D55 #FAFAFA ;
}

.back {
    background-color: #D8CD94; 
    height: 500px;
    overflow-y: scroll;
    scrollbar-color: #198D55 #FAFAFA ;
}

.recipe-container {
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.slick-slider {
    width: 70%;
    height: 500px;
    text-align: center; 
}

.benefit-container {
    background-color: #eed9c4;
    margin-top: 20px;
    width: 85vw;
    border-radius: 20px;
}

span {
    font-size: 1.5em;
    font-weight: bold;
}

h4 {
    text-decoration: underline;
}

.title {
    color: #390400;
    font-size: 3.5em;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 250px;
}

.favorite {
    position: absolute;
    bottom: 10px;
    left: 15px;
    height: 70px;
    width: 75px;
    &:hover {
        transform: scale(1.1)
    }
    cursor: pointer;
}

.carousel {
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 100px;
    margin-bottom: 0;
    align-items: center;
}

.previous {
    position: absolute;
    left: 25px;
    cursor: pointer;
    &:hover {
        transform: scale(1.1)
    }
    color: rgb(171,78,82);
}

.navigate {
   color: #390400;
    text-decoration: underline;
    font-size: 1em;
    cursor: pointer; 
}

.link-container {
    margin-left: 100px;
}

.dashboard-icon {
    height: 80px; 
    position: absolute; 
    right: 25px; 
    cursor: pointer; 
    &:hover {
        transform: scale(1.1)
    }
}

h3 {
    font-size: 2em;
    margin-top: 10px;
}

.ingredient-container {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;

}

.health-benefit {
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: .95em;
    padding-right: 20px;
    padding-left: 20px;
    color:  #390400;
}

p {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.recipe-button, 
.ingredient-button {
    background-color: #01C2AF;
    border: none; 
    border-radius: 30px; 
    width: 150px; 
    margin-top: 15px;
    cursor: pointer;
    &:hover {
        transform: scale(1.1)
    }
}
.ingredient-button {
    width: 250px;
}

@media screen and (max-width: 1200px) {
    .title {
        font-size: 3em;
        margin-left: 50px; 
    }

    .link-container {
        margin-right: 10px;
        margin-left: 0;
    }

    .recipeGrid {
        justify-content: space-between;
    }
}

@media screen and (max-width: 900px) {
    .title {
        color: transparent;
        width: 10px;
    }
}

