.slick-slide > div {
    background-color: rgb(192, 108, 132, .95);
    height: 65vh; 
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 40px; 
    border-radius: 20px; 
    position: relative; 
}

.modal-text {
    color: #390400;
}

.cook-time-board {
    font-size: 1.5em; 
}

.heart {
    height: 25px; 
    position: absolute; 
    bottom: 0; 
    margin-bottom: 10px;
    right: 10px; 
    cursor: pointer;
    &:hover {
        transform: scale(1.1)
    }
}

.heart-container {
    background-color: antiquewhite;
    height: 45px;
    position: absolute;
    width: 46px;
    border-radius: 50%;
    bottom: 0;
    right: 5px;
    margin-bottom: 5px
}

.image-container {
    height: 270px;
    width: 100%;
}

.exit {
    height: 20px;
    position: absolute; 
    bottom: 0;
    margin-bottom: 20px; 
    right: 0;
    margin-right: 30px;
    cursor: pointer;
    &:hover {
        transform: scale(1.1)
    }
}