.slick-slide > div {
    background-color: #cf7979;
    height: 55vh; 
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 40px; 
    position: relative; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.nutrient {
    position: absolute; 
    top: 0; 
    right: 0;
    background-color: #fdffcd;
    color: #390400;
    display: flex;
    justify-content: center;
}

.nutrient-header {
    font-size: 1.2em;
    margin-bottom: 0;
    padding: 5px;
    margin-top: 0;
}

.link-instructions {
    color: #390400;
    font-size: 1.2em;
}

#modal-modal-description-2 {
    text-align: left;
}

.image-loader {
    height: 40px;
    margin-left: 10px;
}

.name-container {
    height: 80px;
}

li {
    color: #390400;
    font-size: 1.2em;
    margin-bottom: 8px;
}

.slick-slider {
    width: 90vw;
}

#instructions {
    margin-top: 20px;
}

.recipe-carousel-name {
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
}

.modal-text {
    color: #390400;
    text-align: left;
    margin-top: 10px;
}

.clock-container {
    display: flex;
    align-items: center; 
}

.clock {
    height: 25px;
    margin-right: 10px;
    margin-left: 10px;
}

.recipe-page-descrip {
    font-size: 1em; 
    margin-top: 10px;
}

.cook-time-board {
    font-size: 1.5em; 
    margin-top: 0;
}

.heart {
    height: 25px; 
    position: absolute; 
    bottom: 0; 
    margin-bottom: 10px;
    right: 10px; 
    cursor: pointer;
    &:hover {
        transform: scale(1.1)
    }
}

.heart-container {
    background-color: antiquewhite;
    height: 45px;
    position: absolute;
    width: 46px;
    border-radius: 50%;
    bottom: 0;
    right: 5px;
    margin-bottom: 5px
}

.image-container {
    height: 270px;
    width: 100%;
    position: relative;
}

.exit {
    height: 20px;
    position: absolute; 
    top: 0;
    margin-top: 20px; 
    right: 0;
    margin-right: 20px;
    cursor: pointer;
    &:hover {
        transform: scale(1.1)
    }
}

@media screen and (max-width: 1350px) {

    .slick-slide > div {
        height: 60vh;
        margin-bottom: 30px;
    }

    .link-container {
        position: none;
    }

    .name-container {
        height: 80px;
    }
}