.error-message {
    font-size: 4em;
    color: #198D55;
}

.notfound-container {
    text-align: center;
}

@media screen and (max-width: 900px) {
    .error-message {
        font-size: 3em;
    }
}

@media screen and (max-width: 700px) {
    .error-message {
        font-size: 2.2em;
    }
}