.notfound-container {
    display: flex; 
    margin-top: 20px;
    align-items: center; 
}

.sad-brain {
    height: 400px; 
}

.error-message {
    font-size: 5em;
    color: #198D55;
    margin-left: 20px;
}