
  header {
    display: flex;
    justify-content: space-evenly; 
    width: 100vw;
    align-items: center; 
    background-color: #79c2d0;
    color: #390400;
}

h1 {
  font-size: 5.5em; 
  margin-bottom: 30px; 
}

.slider-container {
  display: flex; 
  align-items: center; 
  background-color: #87A96B;
  border-radius: 100px; 
}

.menu {
  color: #390400;
  text-decoration: underline;
  font-size: 1.2em;
  cursor: pointer;
  text-align: center;
  margin-right: 15px;
  &:hover {
    color: #C06C84;
}
}

.name {
  font-size: 2.2em; 
  color: #390400;
  margin-top: 0;
}

h2 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 25px;
}

.time-of-day {
  font-size: 4em;
}

  .sad, 
  .happy {
    height: 100px;
    width: 150px;
    border-radius: 100px;
  }

  .time-label {
    position: absolute;
    left: -10000px;
    overflow:hidden 
  }

  .sad {
    margin-right: 20px; 
  }

  .happy {
    margin-left: 20px; 
  }

  .dashboard-btn, .cook {
    background-color: rgb(171,78,82);
    border: none;
    width: 300px;
    height: 50px;
    margin-top: 20px;
    font-size: 2em;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      transform: scale(1.1);
      background-color: rgb(255,248,220);
    }
  }


input {
  width: 85px;
  background-color: transparent; 
  border: none; 
  color: #390400;
  margin-left: 15px;
  text-decoration: underline;
}

.mode {
  margin-right: 10px;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 100px;
  color: #390400;
  margin-right: 20px;
}

.enthus,
.energetic {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
  align-items: center;
  align-items: center;
  position: absolute;
  left: 10px;
  top: 100px;
  color: #390400;
}

.label {
  font-style: italic;
  margin-top: 5px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1em; 
}

.time {
  margin-top: 30px;
}

.loading {
  margin-top: 10px; 
  color: #004526;
  font-size: 2em;
}

@media screen and (max-width: 1300px) {
h2 {
  margin-top: 30px;
}
}

@media screen and (max-width: 900px) {
  .slider-container {
    width: 200px;
    justify-content: center;
    /* background-color: transparent; */
  }

  .link-cont {
    display: flex;
    flex-direction: column;
  }

  #slider-color {
    background-color: #87A96B;
    width: 350px;
  }

  h1 {
    font-size: 3em; 
    margin-top: 50px;
  }
  input {
    width: 50px
  }

  h2 {
    font-size: 2em;
  }

  .time-of-day {
    margin-top: 20px;
    font-size: 3em;
  }

  .sad, 
  .happy {
    height: 50px;
  }

.cook {
  width: 220px;
}

  #main-section {
    text-align: center;
    position: static;
  }
}