.dashboard-container {
    position: relative;
    height: 12vh; 
}

.favorite-recipes {
    width: 33vw;
}

.search {
    width: 300px; 
    background-color: bisque;
    text-decoration: none;
    border-radius: 30px;
    margin-top: 10px; 
}

::placeholder {
    color: #390400;
    text-align: center;
}

.quote-container {
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: #0093AF;
    margin-right: 15px; 
    margin-left: 15px; 
    margin-top: 20px; 
    margin-bottom: 20px;
    border-radius: 20px;
}

.link-styling {
    position: absolute; 
    right: 50px; 
}

.affirmation, 
.average-mood-score {
    text-align: center;
    color: #390400;
    margin-bottom: 0;
}

.affirmation {
    font-style: italic;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.dashboard {
    color: #390400;
    font-size: 3.5em;
    margin-bottom: 0;
    margin-top: 0;
}




